/*css reset*/
*{
margin: 0%;
padding: 0%;
}
:root{
    --navbar-height: 100%;
}
/*navigation bar*/
#navbar{
    position: relative;
    top: 0px;
    display: flex;
    align-items: center;
}
#navbar:before{
    content: "";
    background-color: black;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: .7;

}
/*navigation bar: logo and img*/
#logo{
margin: 10px 34px;
}
.logo img{
    height: 48px;
    margin: 3px 6px;
}
/*navigation bar: list styling*/

#navbar ul{
    display: flex;
    font-family: 'Baloo Bhai 2', cursive;
}
#navbar ul li{
    list-style: none;
    font-size: 1.3rem;
}
#navbar ul li a{
    color: white;
    display: block;
    padding: 3px 22px;
    border-radius: 20px;
    text-decoration: none;
}
#navbar ul li a:hover{
    color: black;
    background-color: white;

}
/*home section*/
#home{
    display: flex;
    flex-direction: column;
    padding: 3px 200px;
    height: 580px;
    justify-content: center;
    align-items: center;
}
#home::before{
    content: "";
    background:url(../img/food-1932466_1280.jpg) no-repeat center center/cover;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: .89;
}
#home h1{
    color:white ;
    text-align: center;
    font-family: 'Bree Serif', serif;
}
#home p{
    color: white;
    text-align: center;
    font-size: 1rem;
    font-family: 'Bree Serif', serif;
}
/*services section*/
#services{
    margin: 34px;
    display: flex;
}
#services .box{ 
    border: 2px solid brown;
    padding: 24px;
    margin: 2px 15px;
    border-radius: 28px;
    background: #f2f2f2;
    margin-bottom: 20px;
}

#services .box img{ 
   height: 100px;
   margin: auto;
   display: block;
}

#services .box p{
    font-family: 'Bree Serif', serif;

} 

/* #services
#services
#services */

/* clients section */
/* #client-section{
height: 344px;
} */
#client-section::before{
    content: "";
    position: absolute;
    background: url('../img/rasberry.jpg');
    width: 100%;
    height:45% ;
    z-index: -1;
    opacity: 0.4;
}
#client{
    display: flex;
    justify-content: center;
    align-items: center;
}
.client-item{
padding: 10px;
}
#client img{
    height: 80px;
}
/* contact section */
#contact{
    position: relative;
    height: 100%;
}
#contact::before{
    content:"" ;
    position: absolute;
    background: url('../img/tablet-1075790_640.jpg')no-repeat center center/cover;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.7;
}
#contact-box{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 34px;
}
#contact-box input{
width: 100%;
padding: 0.5rem;
}
#contact-box textarea{
    width: 100%;
    padding: 0.5rem;
    border-radius: 10px;
    font-size: 1.1rem;
}
#contact-box form{
    width: 40%;

}
#contact-box label{
    font-size: 1.3rem;
    font-family: 'Bree Serif', serif;
}
footer{
    background: black;
    color: white;
    padding: 9px 20px;
}
/*utility classes*/
.h-primary{
    font-family: 'Bree Serif', serif;
    font-size: 2.3rem;
    padding: 12px;
}
.h-secondary{
    font-family: 'Bree Serif', serif;
    font-size: 2.2rem;
    padding: 12px ;
}
.btn{
    padding: 1px 2px;
    border: 2px solid white;
    background-color: brown;
    color: white;
    margin: 17px;
    font-size: 1.5rem;
    border-radius: 10px;
    cursor: pointer;
}
.center{
    text-align: center;
}
